<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Isaac Asimov book store collection">

    <!-- Bootstrap Required Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Isaac Asimov book store collection</title>

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='../static/img/logo.jpg')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/app.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>

    <!-- Contains the heading, navigation and banner image -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <div class="container-fluid">

                <div style="margin-right:15px">
                    <a href="/">
                        <img style="height: 40px" src="{{url_for('static', filename='img/logo.jpg')}}" alt="Logo">
                    </a>
                </div>
                <a href="/" class="navbar-brand">
                    Isaac Asimov book store collection
                </a>

                <button class="navbar-toggler" style="outline: none!important;" type="button" data-toggle="collapse"
                    data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link text-center" href="/shop/most-popular">Shop</a>
                        <a class="nav-item nav-link text-center" href="/support">Support</a>
                        <div class="ml-md-4 ml-sm-0 nav-item text-center justify-content-end" style="width: 100%;">
                            <form class="form-inline text-center" action="{{ url_for('main.search') }}"
                                style="max-width: 400px; display: inline-block">
                                <input style="border-radius: 10px" class="form-control mr-sm-2" type="search"
                                    placeholder="Search" aria-label="Search" name="search">
                                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        {% block head %}{% endblock %}
    </header>

    <!-- Contains the main content of the website, divided into sections -->
    <main>
        {% block main %}{% endblock %}
        <section class="subscription-box bg-warning">
            <div class="container-fluid">                
            </div>
        </section>
    </main>

    <!-- Footer of the website -->
    <footer class="footer">
        <div class="py-2 bg-dark">
            <span class="ml-2 text-light">Copyright &copy; 2021 - Isaac Asimov book store collection | All Rights Reserved</span>
        </div>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>